
.btn{
  display: block;

  color: $button_violet_text_color;
  background-color: $button_violet_color;
  border-radius: 4px;
  border: none;
  padding: 10px 25px;
  cursor: pointer;
  width: max-content;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px;
  @include transition();
  &:hover{
    background-color: $button_lime_color;
    color: #000000;
  }

  &._main{
    color: $button_violet_text_color;
    background-color: transparent;
    border: 1px solid $button_violet_color;
    text-shadow: 1px 1px 10px $button_violet_color;
    padding: 8px 18px;
    font-family: $headlines_font;
    font-size: clamp(14px, 2.5vw, 17px);
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;
    box-shadow: 0 0 5px 0 rgba(222,173,251,.8);
    @include tablet{
      padding: 12px 28px;
    }
    @include laptop{
      padding: 18px 28px;
    }

    &:hover{
      border-color: $button_violet_text_color;
    }
  }

  &._lime{
    color: $button_lime_text_color;
    background-color: $button_lime_color;
    &:hover{
      box-shadow: 5px 10px 20px 0 rgba(32, 30, 34, 0.2);
      color: $button_violet_text_color;
      background-color: $button_violet_color;
    }
  }

  &._violet{
    color: $button_violet_text_color;
    background-color: $button_violet_color;
    &:hover{
      color: $button_lime_text_color;
      background-color: $button_lime_color;
      box-shadow: 5px 10px 20px 0 rgba(32, 30, 34, 0.2);
    }
  }
  &._whiteOutline{
    background-color: transparent;
    border: 1px solid $button_violet_text_color;
    color: $button_violet_text_color;
    font-family: $headlines_font;
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0;
    text-align: center;

    &:hover{
      border-color: $button_violet_color;
      color : $button_violet_color;
    }
  }
  &._violetOutline{
    background-color: transparent;
    border: 1px solid $button_violet_color;
    color: $button_violet_color;
    box-shadow: 0 0 2px 0 rgba(222, 173, 251, 0.8);
    &:hover{
      border-color: $button_violet_text_color;
      color : $button_violet_text_color;
    }
  }
}