.footer{
  position: relative;
  padding: 15px;
  font-size: 15px;
  margin-top: 30px;
  @include tablet{
    margin-top: initial;
  }
  &:before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    z-index: -2;
    background: #181818;
  }
  @include tablet{
    padding: 30px 0 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 30px;
  }
  &.content_wrapper{
    @media (min-width: 900px) {
      max-width: 900px;
    }
    @include laptop {
      max-width: 1200px;
    }
    @include desktop {
      max-width: 1310px;
    }
  }
  .footer__section{
    .navigation{
      margin-left: -6px;
      @include tablet{
        margin-left: initial;
      }
      .menu{
        flex-wrap: wrap;
        .menu-item{
          padding: 10px 5px;
          font-size: 15px;
        }
      }

    }
    .newsletter{
      margin: 10px 0;
      @include tablet{
        margin-left: 5px;
        margin-top: 30px;
        margin-bottom: inherit;
      }
      .newsletter_form{
        .label{
          color: $white_color;
        }
      }
    }
    .contacts{
      margin: 15px 0;
      @include tablet{
        margin-top: 45px;
        margin-bottom: initial;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .social__media{
        display: flex;
        align-content: center;
        align-items: center;
        column-gap: 18px;
        margin-bottom: 10px;
        @include tablet{
          margin-bottom: 20px;
        }
        @include laptop{
          margin-bottom: 30px;
        }
        .social__media__item{
          a{
            svg{
              @include transition();
            }
            &:hover{
              svg{
                path{
                  fill: $button_lime_color;
                }
              }

            }
          }
        }
      }
      .email{
        a{
          display: flex;
          align-content: center;
          align-items: center;
          column-gap: 15px;
          color: $white_color;
          @include transition();

        }
        &:hover{
          a{
            color: $button_lime_color;
          }
          svg{
            path{
              fill: $button_lime_color;
            }
          }

        }
      }
    }
    &.__last{
      @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-end;
        align-items: flex-end;
      }
      .keepInTouch{
        color: $title_violet_color;
        font-family: $headlines_font;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;

      }
    }
  }
}