.footer{
  position: relative;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    z-index: -2;
    background: #181818;
  }
  @include tablet{
    padding: 60px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .footer__section{
    .contacts{
      margin-top: 20px;
      @include laptop{
        margin-top: 48px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: flex-end;
      }
      .social__media{
        display: flex;
        align-content: center;
        align-items: center;
        column-gap: 18px;
        @include laptop{
          margin-bottom: 30px;
        }
      }
      .email{
        a{
          display: flex;
          align-content: center;
          align-items: center;
          column-gap: 15px;
          color: $white_color;
        }

      }
    }
    &.__last{
      @include tablet{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-end;
        align-items: flex-end;
      }
      .keepInTouch{
        color: $title_violet_color;
        font-family: $headlines_font;
        font-size: 17px;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 0;
        text-align: left;

      }
    }
  }
}