.header{
  display: none;
  @include laptop{
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 85px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
    &:before{
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 100vw;
      left: 50%;
      margin-left: -50vw;
      z-index: -2;
      background: transparent;
      @include transition();
    }
    &.__scrolling{
      &:before{
        background: #181818;
      }

    }
  }
  &.__contact {
    &:before{
      background: $white_color;
    }
    .navigation .menu .menu-item a{
      color: #000000;
      &:hover{
        color: $title_violet_color;
      }
    }
  }

  &.__posts{
    &:before{
      background: $white_color;
    }
    @include tablet{
      position: fixed;
    }

    &.__scrolling{
      &:before{
        background: $white_color;
      }
    }
    .navigation .menu .menu-item a{
      color: #000000;
      @include transition();
      &:hover{
        color: $title_violet_color;
      }
    }
  }
  .logo{
    max-height: 45px;
  }
}