.header{
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  @include laptop{
    justify-content: space-between;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;

  }
  .navigation{
    .menu{
      list-style: none;
      display: flex;
      align-items: center;
      align-content: center;
      column-gap: 10px;
      .menu-item{
        //font-family: Poppins, serif;
        text-align: left;
        @include laptop{
          padding: 10px;
          font-size: 17px;
          font-weight: 300;
          line-height: 24px;
          letter-spacing: 0;
        }
      }
    }

  }
}