.wpcf7-form{
  .form__item{
    margin-bottom: 16px;
    border: 1px solid rgba(255, 255, 255, 1);
    border-radius: 4px;
    textarea{
      max-height: 105px;
      @include laptop{
        max-height: 165px;
      }
    }
    input, textarea{
      width: 100%;
      resize: none;
      padding: 10px;
      background: rgba(255, 255, 255, 0.2);
      border-radius: 4px;
      outline: none;
      border: none;
      color: $white_color;
      @include laptop{
        padding: 15px;
      }
      &::placeholder{
        color:  rgba(173, 173, 173, 1);
      }
    }

  }
  .btn{
    width: 100%;
  }
}

.wpcf7{
  input[type="file"]{
    max-height: 30px;
    min-height: initial;
    padding: 0;
    border: none;
    background: transparent;
    color: $title_violet_color;
  }
}