.video_slider{
  overflow: hidden;
  @include tablet{
    width: 100vw;
    left: 50%;
    margin-left: -50vw;
    position: relative;
  }

  .wrapper__slider{
    overflow: hidden;
    margin: 0 auto;
    @include desktop{
      max-width: 1380px;
    }
  }
  .slider__arrows{
    @include tablet{
      margin-bottom: 60px;
    }
    @include laptop{
      margin-bottom: 80px;
    }
  }
  .swiper-slide{
    border-radius: 10px;
    &.swiper-slide-active{
      //@include laptop{
      //  height: 540px;
      //  width: 320px;
      //}
      video{

        //@include laptop{
        //  height: 540px;
        //  width: 320px;
        //}
      }
    }
    video{
      width: 100%;
      border-radius: 10px;
    }
  }

  //width="220px" height="380px"

  .swiper-slide {
    position: relative;
    padding: 0 20px;
    transform: scale(.90);
    transition: all .3s ease-in-out;
    //overflow: hidden;
    //border-radius: 0.4285rem;
    //width: 320px!important;
    //video{
    //  width: 320px;
    //}
  }

  //.swiper-backface-hidden .swiper-slide {
  //  transform: scale(.74) translateZ(0);
  //}
  //
  .swiper-slide.swiper-slide-active {
    transform: scale(1.2);
    //margin: 0 25px;
  }
  //
  //.swiper-backface-hidden .swiper-slide.swiper-slide-active {
  //  transform: scale(1) translateZ(0) !important;
  //}
  //
  //.swiper-image {
  //  position: relative;
  //  width: 100%;
  //  padding-top: var(--swiper-image-ratio);
  //}
  //
  //.swiper-image .image {
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  bottom: 0;
  //  width: 100%;
  //  height: 100%;
  //  background-color: #929ec9;
  //}





}