
html{
  overflow-x: hidden;
  position: relative;
  @include scrollbar;
  min-height: 100vh;
}

body{
  background-color: $background_color;
  color: $text_color;
}

section{
  position: relative;
  @include laptop{
    margin: 80px 0;
  }
}


.headline{
  font-family: $headlines_font;
  color: $title_lime_color;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: center;
  text-transform: uppercase;

  @include laptop{
    margin-bottom: 80px;
    font-size: 34px;
    line-height: 41px;
  }
}

.content_wrapper{
  margin: auto;
  display: flex;
  flex-direction: column;
  @include tablet {
    max-width: 1150px;
    padding: 0 15px;
  }
  @include laptop {
    max-width: 1310px;
  }
}

.b-lazy {
  opacity:0;
  transform: scale(3);
  transition: all 500ms;
}
.b-loaded {
  opacity:1;
  transform: scale(1);
}
