
html{
  overflow-x: hidden;
  position: relative;
  @include scrollbar;
  min-height: 100vh;
}

body{
  background-color: $background_color;
  color: $text_color;
  font-size: 14px;
  @include laptop{
    font-size: 16px;
  }
}
#page{
  overflow: hidden;
}

section{
  position: relative;
  margin: 20px 0;
  @include tablet{
    margin: 40px 0;
  }
  @include laptop{
    margin: 80px 0;
  }
}


.headline{
  font-family: $headlines_font;
  color: $title_lime_color;
  font-weight: 700;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: uppercase;
  font-size: 17px;
  margin-bottom: 15px;

  @include tablet{
    font-size: 25px;
    margin-bottom: 40px;
  }

  @include laptop{
    margin-bottom: 80px;
    font-size: 34px;
    line-height: 41px;
  }
  &.pageTitle{
    text-align: center;
    margin: 40px 0;
    @include tablet{
      margin: 60px 0 40px;
    }
    @include laptop{
      margin: 80px 0 60px;
    }
  }
}

.content_wrapper{
  margin: auto;
  display: flex;
  flex-direction: column;
  padding: 0 15px;
  @include tablet {
    max-width: 760px;
  }
  @include laptop {
    max-width: 1200px;
  }
  @include desktop {
    max-width: 1310px;
  }
}

.b-lazy {
  opacity:0;
  transform: scale(3);
  transition: all 500ms;
}
.b-loaded {
  opacity:1;
  transform: scale(1);
}
