.blog__page{
  &:before {
    content: url("../images/shapes/Vector1.svg");
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
    @include tablet {
      right: -25%;
      top: -27%;
    }
    @include laptop {
      right: -25%;
      top: -27%;
    }
  }
  &:after {
    content: url("../images/shapes/Vector1.svg");
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
    @include tablet {
      bottom: 0;
      left: -63%;
    }
    @include laptop {
      bottom: 0;
      left: -33%;
    }
  }

  .blog__items{
    display: grid;
    row-gap: 40px;
    @include tablet{
      grid-template-columns: repeat(3,1fr);
      column-gap: 40px;
      row-gap: 60px;
    }
    .blog__item{
      a{
        display: block;

        .mainLine{
          font-weight: 400;
          font-family: $headlines_font;
          color: $title_lime_color;
          text-align: left;
          margin-bottom: 8px;
          @include tablet{
            font-size: 22px;
            line-height: 30.8px;
          }

        }
        .image{
          height: 220px;
          width: 100%;
          object-fit: cover;
          margin-bottom: 20px;
          @include tablet{
            margin-bottom: 40px;
          }
        }
        .description{
          font-weight: 300;
          text-align: left;
          color: $white_color;
          @include tablet{
            font-size: 17px;
            line-height: 23.8px;
          }
        }
      }
    }
  }
}